
<body>
<%= link_to"BGM", "https://www.youtube.com/watch?v=MpYy6wwqxoo"%>
<section class="fv-section">
  <div class="slot">
    <div class="slots">
      <ul class="reels">
        <li class="reel"><img src="https://i.gyazo.com/bf2612003a93cfafb7389339f27c0ae0.png"></li>
        <li class="reel"><img src="https://image.news.livedoor.com/newsimage/stf/a/9/a9f2a_1106_0fa00111b1c1189177ea2d44b9b1959e.jpg"></li>
        <li class="reel"><img src="https://pbs.twimg.com/media/EIGCJ8NUUAAaURl.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/bcbfdb78e57c6757bf71d72075757718.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/2d34bbfccec6c02b0a05dafd65daf559.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/5d512bd323b3fb7bf941c5bdd864d205.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/2e77d697e670b1c91b1c31dab346d09f.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/5d512bd323b3fb7bf941c5bdd864d205.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/74eb289fd4b0dafd58bfd5fb71fc6510.png"></li>
        <li class="reel"><img src="https://pbs.twimg.com/media/EIGCJ8NUUAAaURl.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/2e77d697e670b1c91b1c31dab346d09f.png"></li>
        <li class="reel"><img src="https://image.news.livedoor.com/newsimage/stf/a/9/a9f2a_1106_0fa00111b1c1189177ea2d44b9b1959e.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/5d512bd323b3fb7bf941c5bdd864d205.png"></li>
        
      </ul>
    </div>  
    <div class="slots">
      <ul class="reels">
        <li class="reel"><img src="https://i.gyazo.com/74eb289fd4b0dafd58bfd5fb71fc6510.png"></li>
        <li class="reel"><img src="https://pbs.twimg.com/media/EIGCJ8NUUAAaURl.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/2e77d697e670b1c91b1c31dab346d09f.png"></li>
        <li class="reel"><img src="https://image.news.livedoor.com/newsimage/stf/a/9/a9f2a_1106_0fa00111b1c1189177ea2d44b9b1959e.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/5d512bd323b3fb7bf941c5bdd864d205.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/bcbfdb78e57c6757bf71d72075757718.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/bf2612003a93cfafb7389339f27c0ae0.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/2d34bbfccec6c02b0a05dafd65daf559.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/bcbfdb78e57c6757bf71d72075757718.png"></li>
        <li class="reel"><img src="https://image.news.livedoor.com/newsimage/stf/a/9/a9f2a_1106_0fa00111b1c1189177ea2d44b9b1959e.jpg"></li>
      </ul>
    </div>
    <div class="slots">
      <ul class="reels">
        <li class="reel"><img src="https://image.news.livedoor.com/newsimage/stf/a/9/a9f2a_1106_0fa00111b1c1189177ea2d44b9b1959e.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/bf2612003a93cfafb7389339f27c0ae0.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/5d512bd323b3fb7bf941c5bdd864d205.png"></li>
        <li class="reel"><img src="https://pbs.twimg.com/media/EIGCJ8NUUAAaURl.jpg"></li>
        <li class="reel"><img src="https://i.gyazo.com/2e77d697e670b1c91b1c31dab346d09f.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/bcbfdb78e57c6757bf71d72075757718.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/2d34bbfccec6c02b0a05dafd65daf559.png"></li>
        <li class="reel"><img src="https://i.gyazo.com/bf2612003a93cfafb7389339f27c0ae0.png"></li>
        
      </ul>
    </div>
  </div>  
</body>
</section>
<div style="clear: left;">
</div>

<button type="button" class="btn-start">start</button>
<button type="button" class="btn-stop" data-val = "1">stop</button>
 

<%# <button type="button" class="btn-stop" data-val = "2">stop slot 2</button>
<button type="button" class="btn-stop" data-val = "3">stop slot 3</button> %>

 

    