body {
  text-align: center;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.slot {
  width: 90%;
  height: 300px;
  overflow: hidden;
  margin: auto;
  border : solid 1px #333 ;
}
.slot-frame {
  background-color:whitesmoke;
  height: 300px;
  position: relative;
  overflow: hidden;
  border : solid 1px #333 ;
}
.reels {
  height:1250px;
  width: 31%;
  position: absolute;
}
.reels:nth-child(1) {
  left: 0;
}
.reels:nth-child(2) {
  left: 33%;
}
.reels:nth-child(3) {
  right: 0;
}
.reel {
  height: 180px;
}
.reel img {
  display: block;
  width: 70%;
  margin: auto;
}

.btn-start{
  background-color: red;
}

.btn-stop{
  background-color: yellow;
  width: 120px;
}

.BGM{
  a{text-decoration: none;}
  
}


.fv-section {
  height: 800px;
  background-image: url(https://i.gyazo.com/74f1b0bc2ffefb3be5d5f72c494f7d5d.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  
}