


body{
  margin: 0 auto; 
  position: relative;
  padding: 0px 0px 0px 0px;
  
}.BGM{
  a{text-decoration: none;}
  
}


.slot {
  padding: 0px;
  margin: 0px;
}

.fv-section {
  height: 600px;
  background-image: url(https://i.gyazo.com/74f1b0bc2ffefb3be5d5f72c494f7d5d.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  
}
.slots {
  float: left;
  overflow: hidden;
  height: 150px;
  width: 200px;
  border: solid 1px #333 ;
  margin: 5px;
  padding: 0;
}
.reels {
  height: 10px;
  margin: 0px 5px 0px 0px;
  padding: 0;
}
.reel {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 20px;
}

.reel img {
  height: 120px;
  width: 150px;
  margin-left: 20px;
  margin-top: 30px;
}

.btn-start{
  background-color: gold;
  border-radius: 25px;
  margin: 50px 80px;
  padding: 10px 10px;
  height: 80px;
  width: 50px;
}
.btn-start:active {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  background-color:red;
  border-bottom: none;
}

.btn-stop{
  background-color:yellow;
  border-radius: 10px;
  margin: 30px 10px 10px 30px;
  height: 30px;
  width: 300px;
}
.btn-stop:active {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  background-color: red;
  border-bottom: none;
}