body {
  text-align: center;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.slot {
  width: 90%;
  height: 390px;
  overflow: hidden;
  margin: auto;
  border : solid 1px #333 ;
  .fv-section {
    height: 800px;
    background-image: url(https://i.gyazo.com/74f1b0bc2ffefb3be5d5f72c494f7d5d.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    
  }
}
.slot-frame {
  background-color:whitesmoke;
  height: 390px;
  position: relative;
  overflow: hidden;
  border : solid 1px #333 ;
}
.reels {
  height:3050px;
  width: 31%;
  position: absolute;
}
.reels:nth-child(1) {
  left: 2%;
}
.reels:nth-child(2) {
  left: 33%;
}
.reels:nth-child(3) {
  right: 2%;
}
.reel {
  height: 170px;
  bottom: 30px;
}
.reel img {
  display: block;
  height: 82%;
  width: 70%;
  margin: auto;
}

.btn-start{
  margin:0px 20px 50px 50px;
  background-color: red;
}

.btn-reset{
  margin-right:100px;
}

.btn-stop{
  background-color: yellow;
  width: 120px;
}

.BGM{
  a{text-decoration: none;}
  
}


